.body-modification {
  background-color: lightblue;
}

.top {
  background-color: #151B54;
  position: relative;
}

.name1{
  top : 30px;
  left: 50px;
  color : #95B9C7;
  font-family: 'Russo One',serif;
  font-size: 60px;
  font-weight: bold;
  position: relative;
}

.top-pic{
  margin: 20px;
  float: right;
  height: 100px;
  width: 100px;
  position: relative;
}

.main-text{
  font-family: 'Russo One',serif;
  font-weight: bold;

}

.bottom{
  background-color: #151B54;
  height: 20px;
}

.bottom-text{
  margin: auto;
}

