<html>
    <head>
        <title>Code submission practice</title>
    </head>
    <body>
        <h1 align="center"><i/> Code submission practice</h1><br/><br/>
       <!--- <a href="/nextpage">nextPage</a>-->
        <form  action="/"  method="POST">
            <label><b>Write</b></label><br/>
            <textarea id="code" name="code" placeholder="Write Code here" cols="80" rows="20"><%=precode%></textarea></br>
            <label>Input</label><br/>
            <textarea id="input" name="input" placeholder="Enter Input here"></textarea>
            <button>Run Code</button>
        </form>
        <br/><br/>
        <h2><b>Output:-</b></h2><br/>
        <textarea readonly cols="40" rows="8"><%=outputcode%></textarea readonly>
        
        
    </body>
</html>